*{
    font-family: Arial, sans-serif;
    font-size: 13px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px;
    outline: none;
    
   }

   .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    padding: 8px;
   }
   
   .header ul {
     list-style-type: none;
     display: flex;
     justify-content: flex-end;
     align-items: center;
   }
   
   a:link {
     text-decoration: none;
   }
   
   a:hover{
     text-decoration: underline;
   }
   
   
   .header li{
     margin-right: 18px;
   }
   
   .account-img{
    border-radius: 17px;
   }
   
   .app-icon{
     margin-left: 10px;
   }
   
   .google-img img{
   width: 80px;
   padding-left: 5px;
   }

   .top-word{
    margin: 25px 35px;
   }

   .top-word p{
    margin-left: 10px;
    color: #d93025;
    font-size: 20px;
   }

   .line{
    border-bottom: 1px solid #ebebeb;
   }

  .fivth-box{
    display: flex;
  }

  main{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
  }


  .first-box{
    display: flex;
  }

  .mid, .double-input{
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
  }

  .mid input, .mid-input-1 input, .mid-input-2 input{
    width: 100%;
    text-align: left;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
  }
   

  .left{
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
  }

  .text-boxes{
    clear: both;
  }

  .right{
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
  }

  .right span{
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
  }

  .mid-input-1, .mid-input-2{
    display: table-cell;
  }

  .mid-input-1 , .mid-input-2 {
    width: 100%;
    text-align: left;
  }


  .double-input{
    display: flex;
    justify-content: space-between;
  }

  .text{
    padding-top: 5px;
    display: table-cell;
    width: 95px;
    padding-right: 6px;
    padding-left: 6px;
    text-align: center;
    font-size: 13px;
    color: #202124;
  }

  .head-section .right{
    padding: 0;
    margin: 0;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    color: rgb(119, 119, 119);
    font-size: 13px;
    font-weight: 700;
    height: 30px;
  }

  .head-section .left{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
  }

  .head-section .left label{
    font-size: 17px;
  }

  .line-2{
    margin: 18px 0;
    clear: both;
    border-top: 1px solid #ebebeb;
  }

  .drop-boxes{
    clear: both;
  }

  .head-section .left{
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
  }

  .submit-div{
    width: 66%;
    text-align: right;
    height: 42px;
  }

